.wrapper {
  display: inline-block;
  vertical-align: top;
}

.coord-input {
  display: block;
  margin: 30px;
}

.drawbtn {
  display: block;
  margin: 30px;
}

.Canvas {
  display: inline-flex;
  margin-left: 30px;
  margin-top: 30px;
}

.Draw-canvas {
  display: inline-flex;
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
}